################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BowlingGame/obj/Debug
/.vs/BowlingGame/v15/Server/sqlite3
/BowlingGame/bin/Debug
/.vs/BowlingGame/v15
